@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source inline("{bg,dark:bg,enabled:hover:bg,enabled:bg,hover:bg,scrollbar-track,scrollbar-thumb}-{yellow,teal,blue,pink,gray}-{200,600,950}/{10,50,100}!");

.dark .ql-stroke {
  stroke: white !important;
}
.dark .ql-fill {
  fill: white 
}
.dark .ql-picker-options,
.dark .ql-picker-label {
  color: white 
}
.dark .ql-picker-label {
  color: white 
}